* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Arial", sans-serif;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.content {
  width: 80%;
}

.card {
  text-align: center;
  border: 1px solid grey;
  padding: 12px;
  margin-bottom: 6px;
  display: inline-block;
  flex-direction: column;
  min-width: 300px;
  margin: 6px;
  background-color: rgb(15, 15, 80);
  border-radius: 5px;
}
.title {
  display: block;
  border: none;
}
.release_date {
  display: block;
  text-align: center;
}

.character {
  column-count: 3;
  column-gap: 25px;
  text-align: left;
}

a {
  text-decoration: none;
  color: white;
}

a.button {
  border: 1px solid black;
  padding: 12px;
  width: 145px;
  border-radius: 5px;
  color: rgb(15, 15, 80);
  font-size: 15px;
  float: right;
}

@media screen and (max-width: 1140px) {
  body {
    background-color: blue;
  }

  .card {
    display: flex;
  }

  .title {
    flex: 1;
    border: none;
  }
  .release_date {
    flex: 1;
    text-align: center;
  }

  .character {
    column-count: 1;
    column-gap: 25px;
  }
}
